<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Montserrat&family=Rubik&family=Sarabun&display=swap"
      rel="stylesheet"
    />

    <!-- Inhouse CSS -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />

    <title>Eric's Simple Form</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container">
       <!-- Start of form -->
      <div class="row">
        <form
          id="form"
          action="/submitForm"
          method="POST"
          enctype="multipart/form-data"
          class="was-validated"
          novalidate
        >
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-12">
                <br />
                <h3>Eric's Simple Form</h3>
                <br />
              </div>
              <!-- First Name -->
              <div class="col-md-6 col-6">
                <label for="firstname">First Name</label>
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    name="firstname"
                    required
                  />
                  <!-- Client side validation -->
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">
                    Please enter your first name
                  </div>
                </div>
              </div>
              <!-- Last Name -->
              <div class="col-md-6 col-6">
                <label for="lastname">Last Name</label>
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="lastname"
                    name="lastname"
                    required
                  />
                  <!-- Client side validation -->
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">
                    Please enter your last name
                  </div>
                </div>
              </div>
              <!-- Description -->
              <div class="col-md-12 col-12">
                <label for="description">Description</label>
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    required
                  />
                  <!-- Client side validation -->
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">
                    Please enter a short description
                  </div>
                </div>
              </div>
              <!-- Email Address -->
              <div class="col-md-12 col-12">
                <label for="email">Email Address</label>
                <div class="input-group mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                  />
                  <!-- Client side validation -->
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Please enter a valid email</div>
                </div>
              </div>
              <!-- Images -->
              <div class="col-md-12 col-12">
                <label for="images">Images</label>
                <div class="input-group mb-3">
                  <input
                    type="file"
                    accept="image/*"
                    class="form-control"
                    id="image"
                    name="image"
                    multiple
                  />
                  <!-- Client side validation -->
                  <div class="valid-feedback">Image upload is optional</div>
                </div>
              </div>
              <!-- To display image -->
              <div class="col-md-12 col-12">
                <label for="imageSelected">Images Selected</label>
                <div class="container">
                  <div class="row" id="imageSpace"></div>
                </div>
              </div>
            </div>
          </br>
            <div class="row">
              <div class="col-md-3 col-3">
                <button
                  id="submitBtn"
                  type="submit"
                  class="btn btn-dark"
                  disabled
                >
                  <span id='loader' class="" role="status" aria-hidden="true"></span>
                  Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Success Modal -->
    <div class="modal fade" data-bs-backdrop="static"<%if (status ===
    'success'){%> id="showThisModal" <%}else{%> id="success" <%}%> tabindex="-1"
    aria-labelledby="successModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successTitle">Email Sent</h5>
        </div>
        <div class="modal-body">
          🎉 Email is successfully sent, please check your inbox for the form
          details.
        </div>
        <div class="modal-footer">
          <a
            href="/"
            class="btn btn-success"
            role="button"
          >
            Submit a new form
          </a>
        </div>
      </div>
    </div>
    </div>

    <!-- Failed  Modal -->
    <div class="modal fade" data-bs-backdrop="static" <% if(status === 'failed')
    { %> id="showThisModal" <% } else { %> id="failed" <%}%> tabindex="-1"
    aria-labelledby="successModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successTitle">Submission Failed</h5>
        </div>
        <div class="modal-body">
          🙁 Something has gone wrong. Please try again.
        </div>
        <div class="modal-footer">
          <a
            href="/"
            class="btn btn-warning"
            role="button"
            >Try Again
          </a>
        </div>
      </div>
    </div>
    </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/script/form.mjs"></script>
    <script type="text/javascript">
      const myModal = new bootstrap.Modal(
        document.getElementById("showThisModal"),
        {}
      );
      myModal.toggle();
    </script>
  </body>
</html>
